SUPABASE_URL="https://sqabocizidewovveiyki.supabase.co/rest/v1/"
SUPABASE_SERVICE_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InNxYWJvY2l6aWRld292dmVpeWtpIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4ODI1MTMzNSwiZXhwIjoyMTAzODI3MzM1fQ.sIRYRrAm0NUlJHVi4U7Vc3rWU2ezTytf_uttQcLKdQ4"
SUPABASE_DB_URL="postgresql://postgres.sqabocizidewovveiyki:[YOUR-PASSWORD]@aws-0-ap-southeast-2.pooler.supabase.com:5432/postgres"
SUPABASE_STORAGE_BUCKET=samples

JWT_SECRET_KEY="Threat-Lens-AI"
JWT_ALGORITHM=HS256
JWT_ACCESS_TOKEN_EXPIRE_MINUTES=60

VIRUSTOTAL_API_KEY=
VITE_API_BASE_URL=http://localhost:8000/api/v1
